* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  overflow: hidden;
  background-color: #f0e4d9;
}

#table210223 {
  width: 100%;
  height: auto;
}

#table210223 .table-container {
  max-width: 1300px;
  display: flex;
  padding: 20px 0px 150px 30px;
}
#table210223 .wrapper {
  position: absolute;
  padding: 20px;
  right: 10%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 25px;
}
#table210223 .table-column {
  display: flex;
  padding: 20px;
  background-color: white;
}
