body {
  background: #fff;
  font: 400 1em/1.4 "Open Sans", "Helvetica Neue", sans-serif;
  color: #333;
  text-align: center;
  padding: 4em 2em;
}

table {
  width: 100%;
  text-align: left;
  border-spacing: 0;
  border-collapse: collapse;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: none;
}

th,
td {
  font-family: inherit;
  font-size: 0.875em;
  line-height: 1.45;
  color: #444;
  vertical-align: middle;
  padding: 1em;
}
th {
  font-weight: 600;
}

colgroup:nth-child(1) {
  width: 40%;
  border: 0 none;
}
colgroup:nth-child(3) {
  width: 30%;
}
colgroup:nth-child(2) {
  width: 30%;
  border: 1px solid #000;
  border-radius: 50%;
}

/* Tablehead */

thead th {
  text-align: center;
  position: relative;
  border-bottom: 1px dashed #ccc;
  padding: 10px 0px 10px;
  color: #999;
}
thead th:nth-child(1) {
  background: transparent;
}
thead th h2 {
  font-weight: 300;
  font-size: 2.4em;
  color: #000;
}
thead th h2 + p {
  font-size: 1.25em;
  line-height: 1.4;
}

thead th p.promo {
  font-size: 1em;
  color: #fff;
  position: absolute;
  top: 9em;
  left: -17px;
  z-index: 1000;
  width: 100%;
  margin: 0;
  padding: 0.625em 17px 0.75em;
  background: #c00;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
  border-bottom: 1px solid #900;
}

thead th p.promo:before {
  content: "";
  position: absolute;
  display: block;
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 0 7px 7px 0;
  border-color: transparent #900 transparent transparent;
  bottom: -7px;
  left: 0;
}
thead th p.promo:after {
  content: "";
  position: absolute;
  display: block;
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 7px 7px 0 0;
  border-color: #900 transparent transparent transparent;
  bottom: -7px;
  right: 0;
}

/* Tablebody */

tbody th {
  background: #fff;
}
tbody th span {
  font-weight: normal;
  font-size: 87.5%;
  color: #999;
  display: block;
}

tbody td {
  background: #fff;
  text-align: center;
  background-image: linear-gradient(
    to right,
    black 33%,
    rgba(255, 255, 255, 0) 0%
  );
  background-position: bottom;
  background-size: 15px 1.2px;
  background-repeat: repeat-x;
}

tbody tr:last-child td {
  border-bottom: 0 none;
}

/* Tablefooter */
