body {
  background: #fff;
  font-family: "Montserrat", sans-serif;
  color: #000;
  text-align: center;
  padding: 4em 2em;
}

table {
  width: 100%;
  text-align: left;
  border-spacing: 0;
  border-collapse: collapse;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: none;
}

th,
td {
  font-family: inherit;
  font-size: 0.875em;
  line-height: 1.45;
  color: #444;
  vertical-align: middle;
}
th {
  font-weight: 600;
}

colgroup:nth-child(1) {
  width: 40%;
  border: 0 none;
}
colgroup:nth-child(3) {
  width: 30%;
}
colgroup:nth-child(2) {
  width: 30%;
  border: 1px solid #000;
  border-radius: 50%;
}

/* Tablehead */

thead th {
  text-align: center;
  position: relative;
  background-image: linear-gradient(
    to right,
    black 33%,
    rgba(255, 255, 255, 0) 0%
  );
  background-position: bottom;
  background-size: 15px 1.2px;
  background-repeat: repeat-x;
  padding: 10px 0px 10px;
  color: #999;
}
thead th:nth-child(1) {
  background: transparent;
}
thead th h2 {
  font-weight: 300;
  font-size: 2.4em;
  color: #000;
}
thead th h2 + p {
  font-size: 1.25em;
  line-height: 1.4;
}

/* Tablebody */

tbody th {
  background: #fff;
}
tbody th span {
  background: #fff;
  text-align: center;
  font-weight: bold;
  background-image: linear-gradient(
    to right,
    black 33%,
    rgba(255, 255, 255, 0) 0%
  );
  background-position: bottom;
  background-size: 15px 1.2px;
  background-repeat: repeat-x;
  margin: auto;
}
tbody th span:first-child {
  background-image: linear-gradient(
    to right,
    black 33%,
    rgba(255, 255, 255, 0) 0%
  );
  background-position: top;
  background-size: 15px 1.2px;
  background-repeat: repeat-x;
}

tbody td {
  background: #fff;
  text-align: center;
  background-image: linear-gradient(
    to right,
    black 33%,
    rgba(255, 255, 255, 0) 0%
  );
  background-position: bottom;
  background-size: 15px 1.2px;
  background-repeat: repeat-x;
}
tbody td p {
  background: #fff;
  text-align: left;
  margin: 20px;
  background-image: linear-gradient(
    to right,
    black 33%,
    rgba(255, 255, 255, 0) 0%
  );
  background-position: bottom;
  background-size: 15px 1.2px;
  background-repeat: repeat-x;
}
tbody td .icon-wrapper {
  background: #fff;
  text-align: center;
  width: 40px;
  height: 40px;
  margin: auto;
  padding: 9px;
}

tbody tr:last-child td {
  border-bottom: 0 none;
  background-image: linear-gradient(to right, transparent 33%, transparent 0%);
  background-position: bottom;
  background-size: 15px 1.2px;
  background-repeat: repeat-x;
}

/* Tablefooter */
